body, p, h1, h2, h3, h4, h5 {
    font-family: 'Nunito', sans-serif !important;
}

body {
    background-color: red;
}

.logout {
    background-color: var(--bs-dark) !important;
    color: white !important;
    transition: background-color 200ms;
}
.logout:hover {
    background-color: var(--bs-primary) !important;
}

.navbar-brand {
    font-weight: bold;
}


.navbar-toggler{
    border-radius: 6px !important;
}
.nav-link:hover {
    cursor: pointer;
}

